<div class="grid md:grid-cols-12">
  <app-sidebar class="sticky top-0 md:col-span-3 lg:col-span-2 md:h-screen"></app-sidebar>
  <div class="md:col-span-9 lg:col-span-10 h-fit p-4">
    <div class="mb-8 text-4xl">My published opportunities</div>
    <div class="md:col-span-10 h-fit grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
      <div *ngFor="let job of jobs" class="flex flex-col bg-violet-50 hover:bg-violet-200 p-8 rounded-md shadow-xl text-violet-950 cursor-pointer" [routerLink]="[job.id]">
        <div class="font-bold text-xl">{{ job.title }}</div>
        <div class="">
          <fa-icon [icon]="jobIcon" class="mr-2"></fa-icon>
          Applicants <span class="font-bold">{{ job.applications.length }}</span>
        </div>
        <div class="">
          <fa-icon [icon]="descriptionIcon" class="mr-2"></fa-icon>
          {{ job.description }}
        </div>
      </div>
    </div>
  </div>
</div>

