<div class="grid md:grid-cols-12">
  <app-sidebar class="sticky top-0 md:col-span-2 md:h-screen"></app-sidebar>
  <div class="md:col-span-10 h-fit p-4">
    <div class="mb-8 text-4xl">Welcome {{companyProfile?.name}}</div>
    <div class="md:col-span-10 h-fit grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="bg-violet-50 p-8 rounded-md shadow-xl text-violet-950 font-medium flex justify-between items-center">
        <div class="font-black text-6xl">9</div>
        <div class="font-bold">Opportunities</div>
      </div>
      <div class="bg-violet-50 p-8 rounded-md shadow-xl text-violet-950 font-medium flex justify-between items-center">
        <div class="font-black text-6xl">9</div>
        <div class="font-bold">Opportunities</div>
      </div>
      <div class="bg-violet-50 p-8 rounded-md shadow-xl text-violet-950 font-medium flex justify-between items-center">
        <div class="font-black text-6xl">9</div>
        <div class="font-bold">Opportunities</div>
      </div>
      <div class="bg-violet-50 p-8 rounded-md shadow-xl text-violet-950 font-medium flex justify-between items-center">
        <div class="font-black text-6xl">9</div>
        <div class="font-bold">Opportunities</div>
      </div>
      <div class="bg-violet-50 p-8 rounded-md shadow-xl text-violet-950 font-medium flex justify-between items-center">
        <div class="font-black text-6xl">9</div>
        <div class="font-bold">Opportunities</div>
      </div>
      <div class="bg-violet-50 p-8 rounded-md shadow-xl text-violet-950 font-medium flex justify-between items-center">
        <div class="font-black text-6xl">9</div>
        <div class="font-bold">Opportunities</div>
      </div>
      <div class="bg-violet-50 p-8 rounded-md shadow-xl text-violet-950 font-medium flex justify-between items-center">
        <div class="font-black text-6xl">9</div>
        <div class="font-bold">Opportunities</div>
      </div>
      <div class="bg-violet-50 p-8 rounded-md shadow-xl text-violet-950 font-medium flex justify-between items-center">
        <div class="font-black text-6xl">9</div>
        <div class="font-bold">Opportunities</div>
      </div>
      <div class="bg-violet-50 p-8 rounded-md shadow-xl text-violet-950 font-medium flex justify-between items-center">
        <div class="font-black text-6xl">9</div>
        <div class="font-bold">Opportunities</div>
      </div>
    </div>
  </div>
</div>
